name: Build and Deploy to Production

on:
  push:
    branches: [ "main" ] # Se activa al subir a la rama principal

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      # 1. Login y Construcción (Lo que ya tenías)
      - name: Login en Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_HUB_USERNAME }}/landing-page:latest

      # 2. DESPLIEGUE: Conexión SSH al servidor .44
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}
          port: ${{ secrets.SERVER_SSH_PORT }}
          script: |
            cd ~/practica-servidor-web
            # Actualizamos el código del repo en el servidor
            git pull origin main
            # Descargamos la imagen que acabamos de subir a Docker Hub
            docker compose pull landing
            # Levantamos los servicios con los cambios
            docker compose up -d